:root{

    --primary:#800020;
    --primary-dark:#5A0018;
    --primary-light:#A00032;
    
    --gold:#D4AF37;
    
    --success:#22C55E;
    
    --danger:#EF4444;
    
    --warning:#FACC15;
    
    --background:#F7F8FC;
    
    --card:#FFFFFF;
    
    --text:#1F2937;
    
    --text-light:#6B7280;
    
    --border:#ECECEC;
    
    --shadow:0 10px 30px rgba(0,0,0,.08);
    
    --radius:18px;
    
    }
    
    body{
    margin:0;
    background:var(--background);
    font-family:'Poppins',sans-serif;
    }